<div class="chart">
  <div class="bar" style="width:70px">
    <label>Biology 70%</label>
  </div>
  <div class="bar" style="width:30px">
    <label>Math 30%</label>
  </div>
  <div class="bar" style="width:50px">
    <label>Humans 50%</label>
  </div>
  <div class="bar" style="width:10px">
    <label>Covid 10%</label>
  </div>
  <div class="bar" style="width:80px">
    <label>Science 80%</label>
  </div>
</div>