<div class="chart">
  {{#each storm.ratings as |rating|}}
  <div class="bar" style="width:{{rating.pertinence}}px">
    <label>{{rating.topic}} {{rating.pertinence}}%</label>
  </div>
  {{/each}}
</div>