<div class="chart">
  {{#each storm.ratings as |rating|}}
  <div class="bar" style="height:{{rating.pertinence}}%;">
    <label>{{rating.topic}} {{rating.pertinence}}%</label>
  </div>
  {{/each}}
</div>
