<!-- Card: open a storm -->
<div class="card mb-3 stormCard" style="max-width: 800px;">

    <div class="row g-0 ">
        <div class="col-md-4">
        <img src="{{user.avatar}}" class="img-fluid avatar avatar-sm mt-2 ms-4" alt="..." />
        </div>


        <div class="col-md-8">
            <div class="card-body">
                {{!-- <h5 class="card-title">Create a storm</h5> --}}

                <button type="button" class="btn themeBackgroundColor" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Create a Storm
                </button>

                    <!-- Create a storm focused window -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog stormModalBody">
                            {{!-- storm form --}}
                            <form action="/storms/create" method="post">
                                <div class="modal-content">
                                    <div class="modal-header stormModal">
                                        <h5 class="modal-title stormModalHeader" id="exampleModalLabel">
                                            Create a Storm
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- contenuto modale -->
                                    <div class="modal-body">

                                        {{!-- <form class="" action="index.html" method="post"> --}}
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Write the storm here" id="floatingTextarea2" style="height: 200px" name="text"></textarea>
																								<!-- icon to upload file on a new storm -->
																								<div class="image-upload">
                                									<label for="file-input">
                                  									<img src="/images/attachment_79877.png" />
                                									</label>
                                									<input id="file-input" type="file" />
                              									</div>
																								<!-- end icon to upload -->
                                                <label for="floatingTextarea2">Write a storm...</label>
                                            </div>
                                        {{!-- </form> --}}
                                    </div>
                                    <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button
                                        type="button"
                                        class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal"
                                        >
                                        Delete
                                        </button>
                                        <button
                                        {{!-- type="button" --}}
                                        class="btn btn-outline-primary launchStorm"
                                        >
                                        Launch the Storm
                                        </button>

                                    </div>
                                </div>
                            </form>
                            {{!-- end storm form --}}
                        </div>
                    </div>
                    <!-- End a storm focused window -->

            </div>
        </div>
    </div>
</div>
<!-- End Card: open a storm -->
