<nav class="navbar header">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/images/netowledge-logo-white.png" alt="" width="250" height="40" />
        </a>
        <form class="d-flex gap-2">
            <input class="form-control me-5 searchBar" type="search" style="width: 200 px" placeholder="Search a Storm or a topic" aria-label="Search" />
            <button type="button" class="btn btn-outline-secondary headerButton">
        Marco
        </button>
            <button type="button" class="btn btn-outline-secondary headerButton">
        Logout
        </button>
        </form>
    </div>
</nav>