<div class="card w-75 ">
    <div class="card-body">
        <h5 class="card-title">Marco Ferrera</h5>
        <p class="card-text">
        “Federica Brignone si prende l’argento nel gigante alle
        Olimpiadi di Pechino, è la quarta medaglia in quest’edizione dei
        Giochi per l’Italia. E ha un valore altissimo perché Fede
        migliora il terzo posto di quattro anni fa a Pyeongchang,
        infilare due podi olimpici di fila è un’impresa che riesce a
        pochi. Una magia sulla neve artificiale di Yanqing, che va ben
        oltre le più ottimistiche previsioni.”
        </p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
