<div class="card w-75 mb-3">
    <div class="card-body">
        <h5 class="card-title">{{storm.author.name}}</h5>
        <p class="card-text">
            {{storm.text}}
        </p>
        {{>chart storm=storm}}
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
