<form class="" action="/thunders/create" method="post">
	<input
		type="text"
		name="comment"
		placeholder="Launch a Thunder here..."
		value=""
		class="thunder"
	/>
	<!-- range slider -->
	<div class="slidecontainer">
		<input
			type="range"
			min="-3"
			max="3"
			value="0"
			class="slider"
			id="myRange"
			name="trust_rate"
		/>
	</div>
	<button class="thunderButton">
		Thunderize! 
		<i class="fa-solid fa-poo-storm"></i> 
	</button>
	<input type="hidden" value={{storm._id}} name="storm">
</form>
