.themeColor {
    color: #460f8c
}


/* login */

.bg_image {
    height: 100vh;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
}

.login_card {
    width: 40vh;
    background-color: rgb(250, 249, 249);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.signup_card {
    width: 70vh;
    background-color: rgb(250, 249, 249);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.center {
    display: block;
    margin: auto;
}


/* navbar */

.launchStorm {
    color: #460f8c;
    border-color: #460f8c;
}

.header {
    background-color: #460f8c;
}

.searchBar {
    border-radius: 20px;
    width: 50vh;
}

.headerButton {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
}

.userHeader {
    color: #ffffff;
}


/* classe foto avatar */

.avatar-sm {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/* bordi card per inserire STORM */

.stormCard {
    border-radius: 2rem;
}