.themeColor {
    color: #460f8c;
}

/* background loginPage */
.backgrounder {
    background-color: #460f8c;
}
/* logo on loginPage */
.visionLogo {
    /* modificare url con nuovo logo */
    background-image: url('/images/logoTrasparente.png');
    max-height: 100vh;
    background-repeat: no-repeat;
}

.themeBackgroundColor {
    background-color: #460f8c;
    color: #ffffff;
}

/* login */

/* background loginPage */
.backgrounder {
    background-color: #460f8c;
}
/* logo on loginPage */
.visionLogo {
    /* modificare url con nuovo logo */
    background-image: url('/images/logoTrasparente.png');
    max-height: 100vh;
    background-repeat: no-repeat;
}

.bg_image {
    background-color: #460f8c;
    height: 100vh;
    background-size: cover;
    display: grid;
    justify-content: flex-start;
    align-content: center;
}

.login_card {
    width: 40vh;
    background-color: rgb(250, 249, 249);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 12px;
    position: absolute;
    right: 0;
    margin: 20px;
    margin-top: 150px;
    margin-right: 80px;
    max-width: 300px;
}

.signup_card {
    width: 70vh;
    background-color: rgb(250, 249, 249);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.center {
    display: block;
    margin: auto;
}

/* Words on loginPage */

.common {
    font-family: helvetica neue;
    font-size: 11vh;
    color: white;
    text-shadow: 3px 3px black;
}

.speackUp {
    text-align: center;
    margin-top: 10vh;
}

.hitBack {
    margin-top: 15vh;
    margin-left: -10vh;
}

.deduce {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 28vh;
}
/* navbar */

.launchStorm {
    color: #460f8c;
    border-color: #460f8c;
}

.header {
    background-color: #460f8c;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%);
}

.searchBar {
    /* searchbar style */
    border-radius: 3px;
    width: 70vh;
    border: none;
    box-shadow: inset 0.2em 0.2em 3px rgba(0, 0, 0, 0.3);
}

.headerButton {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.userHeader {
    color: #ffffff;
}

/* card InsertNewStorm */
.avatar-sm {
    /* avatar sizing */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* border on avatarImage */
    border: 3px solid #460f8c;
}

.stormCard {
    /* border  */
    border-radius: 10px;
}

/* CreateStorm modal */

.image-upload > input {
    /* class to render icon upload */
    display: none;
}
.image-upload {
    /* take margin top from the text area */
    margin-top: 5px;
}

/* published Storm */
.stormAuthor {
    /* alignement of author near to avatar image in a published storm */
    display: inline;
}

.stormAuthorLabel {
    box-shadow: -5px 0 8px -10px;
}

.publishedStorm {
    padding-top: 0.5%;
}

.publishedStorm1 {
    box-shadow: -7px 7px 10px -10px;
}

.stormCard {
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px #d3d3d3;
}

/* topic chart */

.bar {
    height: 30px;
    margin-left: 100px;
}

.bar label {
    margin-left: -90px;
    margin-top: 8px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
}

.bar:nth-child(1) {
    background: #ff6363;
}

.bar:nth-child(2) {
    background: #ffab76;
}

.bar:nth-child(3) {
    background: #fffda2;
}

.bar:nth-child(4) {
    background: #baffb4;
}

.bar:nth-child(5) {
    background: #a8ece7;
}

/* slider near to new thunder */

.slidecontainer {
    width: 100%;
    display: contents;
}

.slider {
    -webkit-appearance: none;
    width: 15%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

/* icon to rank on slider */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/images/pngegg.png');
    background-size: 23px auto;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/images/pngegg.png');
    cursor: pointer;
}

/* input text write a thunder */
.thunder {
    margin-right: 8px;
    padding-left: 10px;
    width: 60%;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0em 0.2em 3px rgba(0, 0, 0, 0.2);
}
/* button thunderize */
.thunderButton {
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #d3d3d3;
    display: inline-block;
    color: #495057;
}

.thunderButton:hover {
    background-color: #d3d3d3;
}
