.launchStorm {
  color: #460f8c;
  border-color: #460f8c;
}

.header {
  background-color: #460f8c;
}

.searchBar {
  border-radius: 20px;
  width: 50vh;
}

.headerButton {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
}

.userHeader {
  color: #ffffff;
}
/* classe foto avatar */
.avatar-sm {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* bordi card per inserire STORM */
.stormCard {
  border-radius: 2rem;
}
